.line{
    border: 1px solid silver;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    background: #eee;
    text-align: center;
}

.line .textline{
    padding: 1px 15px;
}

.line .en{
    font-size: 16px;
    padding-top: 10px;
}
.line .ru{
    font-size: 13px;
    padding-bottom: 10px;
}
.line .textline span{
    cursor: default;
    padding: 4px 3px;
    margin: 0 -1px;
}
.line .textline span.selected{
    background: lightskyblue;
}
