.editor-text {
    position: absolute;
    top: 0;
    color: white;
}

.editor-text__line {
    border-radius: 0 10px 10px 0;
    border-left: 0;
    width: 650px;
    position: absolute;
    height: 50px;
    left: 120px;
}

.editor-text__en {
    font-size: 16px;
    padding-top: 10px;
}

.editor-text__ru {
    font-size: 13px;
    padding-bottom: 5px;
    color: silver;
}

.editor-text__textline {
    padding: 1px 15px;
    white-space: nowrap;
    margin-left: 50px;
}

.editor-text__textline>span {
    cursor: default;
    padding: 4px 3px;
    margin: 0 -1px;
}

.editor-text__selected-word {
    background: lightskyblue;
    color: black;
}

.editor-text__speakers {
    height: 20px;
    margin-top: -15px;
}

.editor-text__editbutton {
    position: absolute;
    right: -20px;
    color: rgba(0, 0, 0, .3);
}
.editor-text__editbutton:hover {
    color: black;
}

.editor-text__speaker-text {
    width: calc(100% - 50px);
}

.editor-text__speaker {
    display: inline-block;
    font-size: 10px;
    padding: 2px 3px;
    background: #EEE;
    border: 1px solid silver;
    margin-right: -1px;
    cursor: pointer;
}


.editor-text__speaker_photo {
    position: absolute;
    margin: 0 0 0 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-size: cover;
}

.editor-text__speaker:first-child {
    border-radius: 3px 0 0 3px;
}

.editor-text__speaker:last-child {
    border-radius: 0 3px 3px 0;
}

.editor-text__speaker:first-child:last-child {
    border-radius: 3px;
}

.editor-text__selected-speaker {
    background: silver;
    color: white;
}



