.video {
    float: left;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100%, 0);
    position: relative;
    margin: 80px 0;
}

.video__overlay, .video__cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.video__cover {
    background: skyblue;
}

.video__controls{

}
