.subtitles {
    position: absolute;
    top: 0;
}

.line {
    padding: 5px 10px;
    position: absolute;
    height: 50px;
    margin-top: -25px;
    left: 500px;
}

.selected {
    background: yellow;
}

.playing{
    background: yellow;
}
