.subtitles {
    position: absolute;
    top: 0;
}

.subtitles__line {
    padding: 5px 10px;
    position: absolute;
    height: 50px;
    margin-top: -25px;
    left: 500px;
}

.subtitles__selected {
    background: yellow;
}


.subtitles__playing{
    background: yellow;
}

.subtitles__en{

}

.subtitles__ru{

}
