.viewer .subtitles {
    position: absolute;
    top: 0;
}

.viewer .line {
    padding: 5px 10px;
    position: absolute;
    height: 50px;
    margin-top: -25px;
    left: 500px;
}

.viewer .selected {
    background: yellow;
}

.viewer .playing{
    background: yellow;
}
