.timeline-connector {
    position: absolute;
    left: 50px;
    top: 0;
}

.timeline-connector > g:hover path, .timeline-connector > g.timeline-connector__resizing > path {
    fill: red;
}

.timeline-connector > g:hover > rect {
    z-index: 100;
}

.timeline-connector > g > rect {
    x: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    fill: transparent;
}


.timeline-connector__top {
    cursor: ns-resize;
}

.timeline-connector__bottom {
    cursor: ns-resize;
}

.timeline-connector__resizing {
    cursor: ns-resize;
}
